.container{
    padding: 45px 60px 40px 60px;
}

.items{
    margin: 35px 0px;
}

.itemsHeader{
    margin: 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemsList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
}

.item{
    position: relative;
    flex-basis: 210px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 29px 29px 31px 24px;
}

.sneakersImage{
    width: 133px;
    height: 112px;
}
.disription{
    margin: 12px 0;
}

.item p{
    font-weight: 400;
    font-size: 14px;
}

.priceZone{
    display: flex;
    justify-content: space-between;
}

.priceHeader{
    color: #BDBDBD;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.price{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.imgContainer{
    position: relative;
}

.preferBtn ion-icon {
    margin: 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
}

.preferBtn{
    top: 0;
    left: 0;
    position: absolute;
}

.prefer {
    top: 0;
    left: 0;
    position: absolute;
}

ion-icon{
    font-size: 25px;
    padding: 5px;
    color: #9b9b9b;
    cursor: pointer;
    border-radius: 5px;
}

ion-icon:hover{
    background-color: #d3d2d2;
    transition: .1s all linear;
}

.prefer ion-icon {
    margin: 0;
    color: #FF8585;
    background-color: #FEF0F0;
    border: 1px solid #FEF0F0;
}

.added{
    color: #fff;
    background: linear-gradient(180deg,#89F09C 0%,#3CC755 100%) ;
}
